body{
    background-color: rgba(131, 131, 131, 0.623);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    background-color: rgba(112, 112, 112, 0.692);
}
